.feedback {
  padding-bottom: 180px;

  @include mediaTablet {
    padding-bottom: 60px;
  }

}

.feedback_title {
  margin-bottom: 38px;

  @include mediaTablet {
    margin-bottom: 19px;
  }
}

.feedback_form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;

  @include mediaTablet {
    grid-template-columns:  1fr;

  }
}

.feedback_form .form_privacy{
  grid-row: 1/2;
  @include mediaTablet {
    grid-row: 4/5;
  }
}
